*

!.assets/*

.config/*
!/.config/dunst/*
!/.config/picom/*
!/.config/redshift/*
!/.config/suckless/*

!/.doom.d/*

!/.icons/*

.local/*
!/.local/share/fonts/*

!/scripts

!/.bashrc
!/.fehbg
!/.stow-local-ignore
!/.xinitrc
!/.Xresources
!/README.md
!/.gitignore
