/*

!.assets/

!.config/
.config/*
!/.config/dunst/
!/.config/picom/
!/.config/redshift/
!/.config/suckless/

!/.doom.d/*

!/.icons/*

!/.local/
.local/*
!/.local/share/
.local/share/*
!.local/share/fonts/

!/scripts/

!.bashrc
!.fehbg
!.stow-local-ignore
!.xinitrc
!.Xresources
!README.md
!.gitignore
